.file-viewer {
  width: 100%;
  height: 100%;
  background: #f5f5f5;

  &__pdf-container {
    width: 100%;
    height: 100%;
  }

  &__image-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  &__unsupported-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    text-align: center;
  }

  &__message {
    font-size: 16px;
    color: #666;
    line-height: 1.6;

    a {
      display: block;
      margin-top: 16px;
      color: #1890ff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
