.sidebar-menu {
  flex: 1;
  display: flex;
  max-height: calc(100vh - var(--header-height));

  &__navigation {
    width: calc(var(--menu-sidebar-width));
    display: flex;
    transition: border 400ms ease-out;

    & .main-menu {
      background: var(--color-primary-surface);

      &__item {
        background: transparent;

        &_active {
          background: var(--color-primary-surface-active);
          pointer-events: all;
        }
      }
    }
  }

  &__content {
    flex: 1;
    overflow: auto;
    padding: 2rem;
  }
}
