{% extends 'simple.html' %}
{% load i18n %}
{% load static %}
{% load filters %}

{% block head %}
<link rel="stylesheet" href="{{ settings.HOSTNAME }}{% static 'css/login.css' %}"/>

<script nonce="{{request.csp_nonce}}">
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-129877673-1');
</script>
{% endblock %}

{% block content %}
<!-- China Eastern Airlines Theme Header -->
<div class="cea-header">
  <span class="cea-header-title">{% block page_title %}登录界面{% endblock %}</span>
  <img src="{{ settings.HOSTNAME }}{% static 'images/airline_logo.jpg' %}" alt="China Eastern Airlines Logo" class="cea-header-logo">
</div>

<div class="login_page_new_ui cea-login-page">
    <div class="right">
        {% block user_content %}
    </div>
</div>
  {% endblock %}
{% endblock %}
